multi_agent_sales_support.json
{
  "name": "Multi-Agent Sales + Support System (Groq)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-agent-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1f1b1a10-0001-4a1a-9a1a-000000000001",
      "name": "Webhook - Client Message In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 300],
      "webhookId": "ai-agent-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "// Normalize incoming payload from website / form\nconst body = $input.first().json.body || $input.first().json;\n\nreturn [\n  {\n    json: {\n      sessionId: body.sessionId || body.session_id || $execution.id,\n      userName: body.name || \"Guest\",\n      userEmail: body.email || \"\",\n      userMessage: body.message || body.query || \"\",\n      channel: body.channel || \"website\"\n    }\n  }\n];"
      },
      "id": "1f1b1a10-0002-4a1a-9a1a-000000000002",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-980, 300]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "1f1b1a10-0003-4a1a-9a1a-000000000003",
      "name": "Groq Model - Supervisor",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [-820, 560],
      "credentials": {
        "groqApi": {
          "id": "GROQ_CREDENTIAL_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "=You are the SUPERVISOR AGENT for a company's AI assistant system. Your ONLY job is to classify the incoming customer message and route it to the correct department.\n\nCustomer name: {{ $json.userName }}\nChannel: {{ $json.channel }}\n\nRules:\n1. If the message is about buying, pricing, demo, plans, upgrade, discount, or \"interested in product\" -> route = \"sales\"\n2. If the message is about a problem, bug, complaint, refund, order issue, technical help, account issue -> route = \"support\"\n3. If unclear or general greeting -> route = \"support\"\n\nRespond ONLY in strict JSON, no extra text, no markdown:\n{\"route\": \"sales\" or \"support\", \"reason\": \"short reason\", \"priority\": \"low\" or \"medium\" or \"high\"}"
        }
      },
      "id": "1f1b1a10-0004-4a1a-9a1a-000000000004",
      "name": "Supervisor Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [-820, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse supervisor's JSON output safely\nlet raw = $input.first().json.output || $input.first().json.text || \"\";\nraw = raw.replace(/```json|```/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = { route: \"support\", reason: \"fallback - parse failed\", priority: \"medium\" };\n}\n\nconst incoming = $('Normalize Input').first().json;\n\nreturn [\n  {\n    json: {\n      ...incoming,\n      route: parsed.route,\n      reason: parsed.reason,\n      priority: parsed.priority\n    }\n  }\n];"
      },
      "id": "1f1b1a10-0005-4a1a-9a1a-000000000005",
      "name": "Parse Route Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "support",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Support"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "1f1b1a10-0006-4a1a-9a1a-000000000006",
      "name": "Router Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-380, 300]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.6
        }
      },
      "id": "1f1b1a10-0007-4a1a-9a1a-000000000007",
      "name": "Groq Model - Sales",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [-140, 560],
      "credentials": {
        "groqApi": {
          "id": "GROQ_CREDENTIAL_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "=You are the SALES AGENT for the company. Customer: {{ $json.userName }}. Priority: {{ $json.priority }}.\n\nYour goals:\n1. Understand what the customer wants to buy or learn about pricing/plans.\n2. Be persuasive but honest - highlight value, not pressure tactics.\n3. If pricing is asked, give clear plan tiers (assume Starter/Pro/Enterprise structure unless told otherwise).\n4. Always end with one clear next-step CTA (book a demo, start free trial, talk to sales rep).\n5. Keep response under 120 words, friendly and professional tone.\n\nDo NOT discuss technical bugs or refunds - that is Support's job."
        }
      },
      "id": "1f1b1a10-0008-4a1a-9a1a-000000000008",
      "name": "Sales Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [-140, 300]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "1f1b1a10-0009-4a1a-9a1a-000000000009",
      "name": "Groq Model - Support",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [-140, 80],
      "credentials": {
        "groqApi": {
          "id": "GROQ_CREDENTIAL_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "=You are the SUPPORT AGENT for the company. Customer: {{ $json.userName }}. Priority: {{ $json.priority }}.\n\nYour goals:\n1. Acknowledge the issue empathetically in one line.\n2. Give a clear troubleshooting step OR explain next action (e.g. \"our team will resolve this in 24 hrs\").\n3. If it's a refund/billing issue, ask for order ID politely.\n4. If priority is \"high\", mention it is being escalated to a human agent.\n5. Keep response under 120 words, calm and professional tone.\n\nDo NOT pitch products or pricing - that is Sales' job."
        }
      },
      "id": "1f1b1a10-0010-4a1a-9a1a-000000000010",
      "name": "Support Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [-140, -140]
    },
    {
      "parameters": {
        "jsCode": "// Merge final response from either Sales or Support agent into one clean shape\nconst data = $input.first().json;\nconst incoming = $('Parse Route Decision').first().json;\n\nreturn [\n  {\n    json: {\n      sessionId: incoming.sessionId,\n      userName: incoming.userName,\n      route: incoming.route,\n      priority: incoming.priority,\n      finalReply: data.output || data.text || \"\",\n      timestamp: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "1f1b1a10-0011-4a1a-9a1a-000000000011",
      "name": "Merge Final Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"route\": $json.route, \"priority\": $json.priority, \"reply\": $json.finalReply } }}",
        "options": {}
      },
      "id": "1f1b1a10-0012-4a1a-9a1a-000000000012",
      "name": "Respond to Client",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [340, 300]
    }
  ],
  "connections": {
    "Webhook - Client Message In": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Supervisor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model - Supervisor": {
      "ai_languageModel": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor Agent": {
      "main": [
        [
          {
            "node": "Parse Route Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Route Decision": {
      "main": [
        [
          {
            "node": "Router Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Switch": {
      "main": [
        [
          {
            "node": "Sales Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Support Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Support Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model - Sales": {
      "ai_languageModel": [
        [
          {
            "node": "Sales Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sales Agent": {
      "main": [
        [
          {
            "node": "Merge Final Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model - Support": {
      "ai_languageModel": [
        [
          {
            "node": "Support Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Support Agent": {
      "main": [
        [
          {
            "node": "Merge Final Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Final Reply": {
      "main": [
        [
          {
            "node": "Respond to Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
